<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Task List</h1>
    <form action= '<%= link_to "Add Task", new_task_path %> >'
    <input type="submit" value="Add Task" />
  </form>
          <%= yield %>

  </body>
</html>
